<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:45:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ComputableNotebookTests.beforeTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">&gt;&gt;beforeTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:45:15</td>   <td>5873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComputableNotebookTests.getToPageArithmetic()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">getToPageArithmetic</td> 
  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:45:26</td>   <td>17101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:45:26</td>   <td>17770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComputableNotebookTests.getToPageElement()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">getToPageElement</td> 
  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:45:48</td>   <td>39192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:45:48</td>   <td>39845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComputableNotebookTests.verifySidebar()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">verifySidebar</td> 
  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:05</td>   <td>56290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2028017635</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:05</td>   <td>56862</td> <td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@60dcc9fe]">&lt;&lt;afterTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028017635</td>   <td></td> </tr>
</table>
