<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchBarTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:32</td>   <td>3883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchBarTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:47</td>   <td>17990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchBarTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="64f761">  <td>20/04/21 17:46:58</td>   <td>29675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ResultsPageTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ResultsPageTests@2bbf180e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="64f761">  <td>20/04/21 17:47:07</td>   <td>38261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ResultsPageTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ResultsPageTests@2bbf180e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:47:25</td>   <td>56829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:47:47</td>   <td>78803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:48:05</td>   <td>96058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterMethod()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/04/21 17:48:30</td>   <td>120894</td> <td>&nbsp;</td><td title="&lt;&lt;EndtoEndTest.afterTest()[pri:0, instance:com.wolfram.test_assignment.tests.EndtoEndTest@7f010382]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:47</td>   <td>18353</td> <td>&nbsp;</td><td title="&lt;&lt;SearchBarTests.afterTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">&lt;&lt;afterTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="64f761">  <td>20/04/21 17:47:07</td>   <td>38596</td> <td>&nbsp;</td><td title="&lt;&lt;ResultsPageTests.afterTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.ResultsPageTests@2bbf180e]">&lt;&lt;afterTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:48:05</td>   <td>96849</td> <td>&nbsp;</td><td title="&lt;&lt;ComputableNotebookTests.afterTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">&lt;&lt;afterTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="64f761">  <td>20/04/21 17:46:54</td>   <td>25721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResultsPageTests.arithmeticPage()[pri:0, instance:com.wolfram.test_assignment.tests.ResultsPageTests@2bbf180e]">arithmeticPage</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/04/21 17:48:07</td>   <td>98200</td> <td>&nbsp;</td><td title="&gt;&gt;EndtoEndTest.beforeTest()[pri:0, instance:com.wolfram.test_assignment.tests.EndtoEndTest@7f010382]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:19</td>   <td>-9952</td> <td>&nbsp;</td><td title="&gt;&gt;SearchBarTests.beforeTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">&gt;&gt;beforeTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="64f761">  <td>20/04/21 17:46:48</td>   <td>19834</td> <td>&nbsp;</td><td title="&gt;&gt;ResultsPageTests.beforeTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.ResultsPageTests@2bbf180e]">&gt;&gt;beforeTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:47:09</td>   <td>40090</td> <td>&nbsp;</td><td title="&gt;&gt;ComputableNotebookTests.beforeTestSuite()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">&gt;&gt;beforeTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="64f761">  <td>20/04/21 17:46:59</td>   <td>30011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResultsPageTests.elementPage()[pri:0, instance:com.wolfram.test_assignment.tests.ResultsPageTests@2bbf180e]">elementPage</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:25</td>   <td>-3582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchBarTests.elementResult()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">elementResult</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:47:14</td>   <td>45537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComputableNotebookTests.getToPageArithmetic()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">getToPageArithmetic</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:47:26</td>   <td>57526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComputableNotebookTests.getToPageElement()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">getToPageElement</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:29</td>   <td>336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchBarTests.happyPathCalculation()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">happyPathCalculation</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/21 17:46:33</td>   <td>4229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchBarTests.statmentError()[pri:0, instance:com.wolfram.test_assignment.tests.SearchBarTests@60dcc9fe]">statmentError</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>20/04/21 17:48:11</td>   <td>102139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndtoEndTest.test()[pri:0, instance:com.wolfram.test_assignment.tests.EndtoEndTest@7f010382]">test</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="b1776b">  <td>20/04/21 17:47:48</td>   <td>79832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComputableNotebookTests.verifySidebar()[pri:0, instance:com.wolfram.test_assignment.tests.ComputableNotebookTests@7c469c48]">verifySidebar</td> 
  <td>main@77269878</td>   <td></td> </tr>
</table>
